@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Lilita+One&family=Rowdies&family=Titan+One&display=swap');

body{
    margin:0px;
}
.wrapper{
    display:grid;
    grid-template-columns: 0.7fr 3fr;
    grid-template-rows: 0.5 repeat(2,1fr);
    min-height: 100vh;
    font-family: "Dosis","sans-serif", "monospace";
}

.sidebar {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.5fr;
    grid-column:1;
    grid-row: 1 / 4;
    background-color:#7d58fe;
    color: white;
    font-size: 28px;
    padding-left: 1em;
    padding-top:20px;
    align-items: start;
}

.logo{
    font-size: 32px;
    font-weight: 900;;
}


.header{
    background-color: #white;
    display:grid;
    grid-template-rows:2;
    margin: 30px 40px;
}

.topHeader{
    display:grid;
    grid-template-columns: 0.2fr 3fr 0.2fr .4fr 1fr;
    justify-items: center;
    align-items: center;
    margin: -10px 0;
}


.searchLogo{
    grid-column: 1;
    gap:0;
}

.search{
    background-color: #f2f6ff;
    opacity: 1;
    border:2px solid #7d58fe;
    border-radius: 10px;
    font-size: 16px;
    width: 90%;
    line-height: 1.5em;
    grid-column: 2;
}

.user{
    font-size: 18px;
    font-weight: 900;
}

.notif{
    grid-row: 1;
    grid-column: 3;
}

.account{
    height: 20px;
    grid-column: 4;
    border: 1px solid #7d58fe;
    border-radius:50%;
    max-width: 50px;
    height: auto;
    margin-left:10px;
    margin-right:0;
}

.user{
    gap:0;
    grid-column: 5;

}

.bottomHeader{
    display:grid;
    grid-template-columns: 1fr 5fr repeat(3,0.2fr);
    grid-template-rows:0.1fr 0.1fr;
    grid-auto-flow: row;
    justify-items: start;
    align-items: center;
    gap: 0 1rem;
    margin: 20px 50px 20px 0 ;
}

.userImg{
    grid-column: 1/2;
    grid-row: 1/3;
    border:1px solid #7d58fe;
    border-radius:50%;
    margin-left: 20px;
    margin-top:15px;
    max-height:75px;
    height: auto;
}
.initialMsg{
    grid-column: 2;
    grid-row:1;
}

.userfName{
    grid-column: 2;
    grid-row:2;
}

.bottomHeader button{
    grid-row: 1/3;
}

.bottomHeader h3{
    font-size: 18px;
    font-weight: 900;;
}

.bottomHeader h3,
.bottomHeader h6{
    margin: 0;
}

.bottomHeader button{
    background-color: #7d58fe;
    font-size: 18px;
    border-radius: 40px;
    padding:0.5rem 1rem;
    color: white;
    border: 1px solid #7d58fe;
}

/* .mainContent div,
.mainContent p,
.mainContent h3{
    border:1px solid red;
} */

.mainContent{
    overflow: scroll;
    grid-column: 2/4;
    grid-row: 2/4;
    background-color:#f2f6ff;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;

    margin-top:0;
}

.mainContent h3{
    font-size: 22px;
    padding-left:20px;
    margin-top:5px;
}

.mainLeft{
    grid-column: 1;
    grid-row:1;

    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:0.1fr 1fr;
}

.mainTitle{
    grid-column: 1/4;
    grid-row:1;
    margin-left: 50px;
}

.articles{
    grid-column: 1/4;
    grid-row: 2;
    gap:15px;
    padding: 0 50px;
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-template-rows: repeat(auto-fit, minmax(175px, 200px));
}

.article{
    border-radius: 10px;
    border-color: #7d58fe;
    border-width: 15px;
    border-style: none none none solid;
    background-color: white;
    padding:10px;

    display:grid;
    grid-template-columns: 1fr 0.1fr 0.1fr 0.1fr;
    grid-template-rows: 0.1fr 0.2fr 0.1fr;
}

.postTitle{
    grid-column:1/5;
    grid-row: 1;
    margin: 0;
    padding:0;
}

.postText{
    grid-column:1/5;
    grid-row: 2;
    font-size: 12px;
    padding: 10px;
}

.star{
    grid-column:2;
    grid-row: 3;
}
.edit{
    grid-column:3;
    grid-row: 3;
}

.share{
    grid-column:4;
    grid-row: 3;
}

.star,
.edit,
.share:hover{
    cursor: pointer;
}

.mainRight{
    grid-column: 2;
    grid-row:1;

    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:0.1fr 0.2fr 0.1fr 0.2fr;
}

.announceTitle{
    grid-column: 1;
    grid-row:1;
}

.trendTitle{
    grid-column: 1;
    grid-row:3;
}

.announcements{
    grid-column: 1;
    grid-row: 2;
    border-radius: 10px;
    background-color: white;
    grid-template-columns: 1;
    grid-template-rows: 1;
    border: 1px solid #7d58fe;
    margin-right:10px;
}

.post{
    background-color: white;
    padding:0 10px;
    font-size: 12px;


}

.trends{
    grid-column:1;
    grid-row:4;
    background-color: white;
    border-radius: 10px;
    border:1px solid #7d58fe;
    margin-right:10px;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.trendImg{
    max-height: 50px;
    border: 1px solid #7d58fe;
    border-radius: 50%;
    margin:10px;
    grid-column: 1;
    grid-row:1/3
}

.trendsetter{
    display:grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    justify-items: center;
    align-items: center;
    gap:0;
    padding:0;
    margin:1rem;
}

.trendsetter p{
    grid-column: 2/4;
    grid-row:2;
    margin:0;

}

.trendsetter h6{
    grid-column: 1/4;
    grid-row:1;
    margin:0;
    padding-left:100px;
    justify-self: end;
}